*, *::after, *::before {
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0rem;

}

 .grid-col-1of3{
	width: 100%;
}


/*
	Because our navigation is now fixed and overlaps our content, we need to introduce some space at the top of our page to ensure that overlap doesn't occur. The simplest solution to this is to introduce 'padding-top' to the body element so all the content has some additional spacing (thereby avoiding the overlap).
*/
body {
	padding-top: 10rem;
}

@media (min-width: 20em) {

	.grid-col-1of4{
		width: 50%;
		padding-left: 1rem;
	}
  .grid-col-2of4{
		width:100%;
	}

  .grid-col-3of4{
    width: 5%;
  }
	.grid-col-4of4{

			padding-left: 2.57rem;
  }
}

@media (min-width: 55em) {

	.grid-col-1of4{
		width: 30%;
		padding-left: 1rem;
		padding-top: 1.2rem;
	}
  .grid-col-2of4{
		width:50%;
		padding-top: 2.5rem;
	}

  .grid-col-3of4{
    width: 5%;
		padding-top: 2rem;
  }

  .grid-col-4of4{

			padding-top: 1.8rem;
			padding-left: 2rem;
  }
}
	body {
		padding-top: 50rem;
	}






@media (min-width: 60em) {


	.grid-col-1of4{
		width: 30%;
		padding-left: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.25rem;
	}
  .grid-col-2of4{
		width:56%;
    padding-top: 2.5rem;
	}

  .grid-col-3of4{
    width: 5%;
    padding-top: 2rem;
  }

  .grid-col-4of4{
    padding-top: 1.8rem;
		padding-left: 1rem;
		padding-right: 1rem;


  }


	}

	/*
		Using the same selector in the media queries, we can adjust the padding-top for the body tag as the page resizes.
	*/
	body {
		padding-top: 0.25rem;
	}

}
